[Unit]
Description=Flask web server
[Install]
WantedBy=multi-user.target
[Service]
User=naboo
PermissionsStartOnly=true
ExecStart=/home/naboo/manual-aqbota/camera.py
TimeoutSec=10
Restart=on-failure
RuntimeDirectoryMode=755